<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adding trainers</title>
</head>
<body>
        <h1>Adding trainer page (Spring Security protected)</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

        <form action="#" th:action="@{/admin/addTrainer}" th:object="${trener}" method="post">
            <p>
                Imie: <input type="text" th:field="*{imie}">
            </p>
            <p>
                Nazwisko: <input type="text" th:field="*{nazwisko}">
            </p>
            <p>
                Data_urodzenia: <input type="text" th:field="*{data_urodzenia}">
            </p>
            <p>
                <input type="submit" value="Submit"/> <input type="reset" value="Reset">
            </p>
        </form>
</body>
</html>