server:
  port: 8060
  error:
    path: /error2

spring:
  thymeleaf:
    cache: false
    enabled: true
    prefix: classpath:/templates/
    suffix: .html
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 20MB
      max-request-size: 25MB
  datasource:
    url: jdbc:postgresql://ec2-54-228-252-67.eu-west-1.compute.amazonaws.com:5432/ddaav7km95rcs7
    username: crvwvctiwohefu
    password: 047d55a63a39ebee9a868f5d52ad6ac4c5e1216e4b1d3f79c18674704389121d
#    url: jdbc:postgresql://localhost:5432/myDB
#    username: postgres
#    password: postgres
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        temp:
          use_jdbc_metadata_defaults: false
    hibernate:
      ddl-auto: update
  jackson:
    date-format: yyyy-MM-dd

logging:
  level:
    io:
      swagger:
        models:
          parameters:
            AbstractSerializableParameter : ERROR