<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie szczegółów o spotkaniu</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

        <h1 class="blockquote text-center"> Dodawanie szczegółów o spotkaniu </h1>
        <div class="container">

            <div class="row" style="margin-top:20px">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form action="#" th:action="@{/admin/addPunkty}" method="post">
                        <fieldset>
                            <div th:if="${punktyDodane}">
                                <div class="alert alert-info">
                                    Rekord dodany!
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"  class="form-control input-lg" name="gospodarz"
                                placeholder="Nazwa gospodarza" required="true" autofocus="true"/>
                            </div>
                            <div class="form-group">
                                <input type="text"  class="form-control input-lg" name="gosc"
                                       placeholder="Nazwa gościa" required="true" autofocus="true"/>
                            </div>
                            <div class="form-group">
                                <input type="text"  class="form-control input-lg" name="zawodnik"
                                       placeholder="Nazwisko siatkarza" required="true" autofocus="true"/>
                            </div>
                            <div class="form-group">
                                <input type="text"  class="form-control input-lg" name="punkty"
                                       placeholder="Ilość zdobytych punktów" required="true" autofocus="true"/>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Dodaj"/>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>

        <div th:replace="fragments/footer :: footer"/>
</body>
</html>

