<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plus Liga App - Panel Administracyjny</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>InfoLiga - Panel Administracyjny</h1>
        <h2> <a th:href="@{/admin/addTrainer}">Dodawanie trenerów</a></h2>
        <h2> <a th:href="@{/admin/addCity}">Dodawanie miast</a></h2>
        <h2> <a th:href="@{/admin/addTeam}">Dodawanie drużyn</a></h2>
        <h2> <a th:href="@{/admin/addSezon}">Dodawanie sezonów</a></h2>
        <h2> <a th:href="@{/admin/addZawodnik}">Dodawanie zawodników</a></h2>
        <h2> <a th:href="@{/admin/addSedzia}">Dodawanie sędziów</a></h2>
        <h2> <a th:href="@{/admin/addPunkty}">Dodawanie punktów</a></h2>
        <h2> <a th:href="@{/admin/addSpotkanie}">Dodawanie spotkań</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>