<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>PlusLiga App Admin Panel</h1>
        <h2>1. Visit <a th:href="@{/admin/addTrainer}">Adding trainers page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>1. Visit <a th:href="@{/admin/addCity}">Adding cities page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>1. Visit <a th:href="@{/admin/addTeam}">Adding team page (Spring Security protected, Need Admin Role)</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>